.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.color {
  background:deepskyblue;
  padding: 0.6rem 2rem;
  margin-top: 3rem;
}

button {
  font-size: 1.5rem;
  border: 3px solid deepskyblue;
  background: transparent;
  padding: 15px 25px;
  border-radius: 35px;
  outline: none;
}